body{
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:'Bangers', cursive;
  color: lightgreen;
  font-size: 30px;

  background-image: url(img/bg.jpg);
  background-attachment: fixed;
  background-size: 100%;
}